.header
  .header__logo
    グループを作成しました


.contents
  .contents__left
    .test-user
      .test-user__box
        test user
      .test-user__icon
        =link_to "groups/new",class:"flysite" do
          = fa_icon 'edit'
          %span<> 
        =link_to "groups/edit",class:"flysite" do
          = fa_icon 'cog'
    .wrapper
      = render partial: 'shared/side_bar'



  .contents__right
    .contents__right__text-group
      text-group
      .contents__right__edit
        =link_to "groups/edit",class:"flysite" do
          Edit

    .contents__right__menber
      menber: Nishimura

  .contents__center
    %p test-user
    .contents__center__hello
      %p こんにちは！
      .contents__center__hello__text-user
        %p text-user
        .contents__center__hello__text-user__goodbye
          %p さようなら
  .contents__bottom
    .contents__bottom__type
      type-c
    .contents__bottom__image
      = fa_icon 'image'
    .contents__bottom__send
      Send


