.header
  .header__logo
    グループを作成しました
.contents
  .contents__left
    .contents__left__test-user
      %p test user
    .contents__left__test-group
      %p test group
      %p さようなら
    .contents__left__sample
      %p sample-group
    .contents_left__hello
      %p hello!
    .contents_left__example
      %p example
    .contents_left__message
      %p まだメッセージがありません

  .contents__right
    .contents__right__text-group
      text-group
    .contents__right__edit
      edit
  .contents__center
    %p test-user
    %p こんにちは！
    %p text-user
    %p さようなら
  .contents__bottom
    .contents__bottom__type
      type-c
      .contents__bottom__type__send
        Send
