.header
  .header__logo
    グループを作成しました


.contents
  .contents__left
    .test-user
      %p test user
  .contents__test-group
    .test-group
      %p test group
      %p さようなら
    -# .contents__left__sample
    -#   %p sample-group
    -#   .contents__left__sample__hello
    -#     %p hello!
    -# .contents__left__example
    -#   %p example
    -#   .contents__left__example__message
    -#     %p まだメッセージがありません


  .contents__right
    .contents__right__text-group
      text-group
      .contents__right__edit
        Edit
    .contents__right__menber
      menber: Nishimura

  .contents__center
    %p test-user
    .contents__center__hello
      %p こんにちは！
      .contents__center__hello__text-user
        %p text-user
        .contents__center__hello__text-user__goodbye
          %p さようなら
  .contents__bottom
    .contents__bottom__type
      type-c
      .contents__bottom__type__send
        Send
