.header{
    width: 300px;
    color:yellow;
    padding:0 20px;
    height:100px;
}

.group{
    width: 300px;
    color:#fff;
    padding:0 20px;
    height:100px;
    font-size:30px;
}

.group__message{
    color:yellow;
}