.contents{
  height:calc(100vh - 40px);
  background-color:#fff;
  width:100vw;
  margin: auto 0;
  &__left{
    float:left;
    background-color:#2f3e51;
    width: 300px;
    color:#fff;
    padding:0 20px;
    height:calc(100vh - 40px);
    display:flex;
    flex-direction:column;
    .test-user{
      background-color:#3f4f64;
      padding:35px 0 15px 0 ;
      height:50px;
      display:flex;
      &__box{
        font-weight:bold;
        font-size:20px;
        padding-right:150px;
        width:200px;
      }
      &__icon{
        font-size:18px;
        width:100px;
        .flysite{
          color:#fff;
          padding:0 5px;
        }
      }
    }
    .wrapper{
      // height:calc(100% - 40px - 60px);
      background-color:#2f3e51;
      weight:300px;
      font-size:15px;
      color:#fff;
      padding:10px 0 ;
      min-height:300px;
      .group__message{
        color:White;
        height:50px;
      }
      .group__name{
        color:white;
        height:30px;
      }
    }

      .test-group{
        padding:20px 0;
        height:100px;
        background-color:rgb(68, 68, 114);
        &__grand{
          font-weight:bold;
          font-size:20px;
          height:30px;
          font-size:15px;
        }
        &__goodbye{
          padding-top:10px;
          font-size:20px;
        }
      }
      .sample-group{
        font-size:20px;
        height:100px;
        background-color:rgb(68, 68, 114);
        &__group{
          font-weight:bold;
        }
        &__hello{
          font-size:15px;
          padding-top:10px;
        }
      }
      .example{
        height:100px;
        background-color:rgb(68, 68, 114);
        &__text{
          font-size:20px;
          font-weight:bold;
        }
        &__message{
          font-size:18px;
        }
      }
    }
  } 
.text{
  height:calc(100vh - 131px);
  float:right;
  width:calc(100vw - 420px);
  padding:0 40px;
  position:relative;
  background-color:rgb(243, 241, 239);
  border-bottom:1px solid #c0c0c0;
  overflow: auto;
  .group{
    font-size:18px;
    color:#333333;
    height:53px;
    background-color:#fff;
    margin:0 -40px;

  }
  .edit{
    width:70px;
    height:40px;
    font-size:23px;
    margin:0 20px;
    color:#38AEF0;
    position: absolute;
    right:50px;
    top:10px;
    border:1px solid #38AEF0;
    text-align:center;
    line-height:40px;
  }
  .member{
    color: #999999;
    font-size:12px;
    background-color:#fff;
    border-bottom:1px solid black;
    margin:0 -40px;
  }.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 100px - 90px);

}

}
.center{
  float:right;
  height: calc(100vh - 132px - 70px);
  width:calc(100vw - 420px);
  background-color:rgb(243, 241, 239);
  font-size:20px;
  .message {
    .upper-message {
      display: flex;
      
      &__user-name {
        color: black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color:lightgray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color:black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }

}

