.contents{
  // height:100%;
  background-color:#fff;
  width:100vw;
  margin: auto 0;
  &__left{
    float:left;
    
    
    background-color:#2f3e51;
    width: 300px;
    color:#fff;
    padding:0 20px;
    height:100vh;
    display:flex;
    flex-direction:column;
    
    .test-user{
      background-color:#253141;
      padding:35px 0;
      // height:70px;
      display:flex;
      margin: 0 -20px;
      &__box{
        font-weight:bold;
        font-size:20px;
        padding-right:150px;
        width:200px;
        margin: 0 0 0 20px;

      }
      &__icon{
        font-size:18px;
        width:100px;
        .flysite{
          color:#fff;
          padding:0 5px;
        }
      }
    }
    .wrapper{
      // height:calc(100% - 40px - 60px);
      background-color:#2f3e51;
      width:300px;
      font-size:15px;
      color:#fff;
      padding:10px 0 ;
      min-height:300px;
      overflow:auto;
      .group__message{
        color:White;
        height:50px;
        font-size: 15px;
        line-height:40px;
      }
      .group__name{
        color:white;
        height:30px;
        font-size:20px;
        line-height:30px;
      }
    }

      .test-group{
        padding:20px 0;
        height:100px;
        background-color:rgb(68, 68, 114);
        &__grand{
          font-weight:bold;
          font-size:20px;
          height:30px;
          font-size:15px;
        }
        &__goodbye{
          padding-top:10px;
          font-size:20px;
        }
      }
      .sample-group{
        font-size:20px;
        height:100px;
        background-color:rgb(68, 68, 114);
        &__group{
          font-weight:bold;
        }
        &__hello{
          font-size:15px;
          padding-top:10px;
        }
      }
      .example{
        height:100px;
        background-color:rgb(68, 68, 114);
        &__text{
          font-size:20px;
          font-weight:bold;
        }
        &__message{
          font-size:18px;
        }
      }
    }
  } 
.text{
  height:calc(100vh - 90px);
  float:right;
  width:calc(100vw - 420px);
  padding:0 40px;
  position:relative;
  background-color:rgb(243, 241, 239);
  border-bottom:1px solid #eee;
  
  .group{
    color:#333333;
    height:100px;
    background-color:#fff;
    margin:0 -40px;
    padding-left:30px;
    
    &__name{
      height:60px;
      line-height:95px;
      font-size:25px;
    }
    &__member{
      height:40px;
      color: #999999;
      font-size:10px;
      line-height:60px;
    }
    .edit{
      width:80px;
      height:40px;
      font-size:20px;
      margin:20px 30px;
      color:#38AEF0;
      position: absolute;
      right:50px;
      top:10px;
      border: solid 1px #38aef0;
      text-align:center;
      line-height:40px;
      &__name{
        color:#38AEF0;
      }
    }
  }

a.flysite {
  text-decoration: none;
  }
.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 100px - 90px);

}

}
.center{
  background-color:rgb(243, 241, 239);
  box-sizing:border-box;
  height:calc(100vh - 100px - 90px);
  overflow:auto;
  padding: 40px 0;
  .center-text{
    overflow: auto;
  }
  .message {
    margin-bottom:40px;
    .upper-message {
      
      &__user-name {
        color: black;
        font-size: 18px;
        font-weight: bold;
      }
      &__date {
        color:lightgray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color:black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }

}

